<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Campus Solutions</title>
    <link rel="stylesheet" href="css/Home.css" />
  </head>
  <body>
    <nav>
      <div class="logo">Campus Solutions</div>
      <ul class="nav-links">
        <% if (locals.user) { %> <% if (user.Email==="a@g.com") { %>
        <li><a href="/sell">Sell Notes</a></li>
        <li><a href="buy/getdata">Buy Notes</a></li>
        <li><%= user.Name %></li>
        <li><a href="/PyqFiles">Upload Pyq</a></li>
        <li><a href="/user/logout">LogOut</a></li>
        <% } else { %>
        <li><a href="/Pyq">PYQ's</a></li>
        <li><a href="/sell">Sell Notes</a></li>
        <li><a href="buy/getdata">Buy Notes</a></li>
        <li><%= user.fullName %></li>
        <li><a href="/user/logout">LogOut</a></li>
        <% } %> <% } else { %>

        <li class="dropdown">
          <a href="#" class="dropbtn">Login/Signup</a>
          <div class="dropdown-content">
            <a href="/user/studentlogin">Login as Student</a>
            <a href="/user/studentsignup">Signup as Student</a>
            <a href="/faculty/facultylogin">Login as Faculty</a>
            <a href="/faculty/facultysignup">Signup as Faculty</a>
          </div>
        </li>
        <% } %>
      </ul>
    </nav>
    <header>
      <h1>Welcome to Campus Solutions</h1>
      <p>Your one-stop solution for academic resources.</p>
      <p>Login for More</p>
    </header>
    <section class="intro">
      <h2>Discover. Download. Excel.</h2>
      <p>
        Access a comprehensive repository of past exam papers and lecture notes
        to enhance your learning experience.
      </p>
    </section>
    <section class="features">
      <h2>What We Offer</h2>
      <ul>
        <li>
          <strong>Previous Year Exam Papers:</strong> Prepare effectively with
          past papers.
        </li>
        <li>
          <strong>Lecture Notes:</strong> Download notes created by top students
          and professors.
        </li>
        <li>
          <strong>Buy & Sell Notes:</strong> A marketplace for academic
          resources.
        </li>
      </ul>
    </section>
  </body>
</html>
