<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/Pyq.css" />
  </head>
  <body>
    <div id="pyq">
      <div id="card">
        <%Pyq.forEach( pyq=> { %>
        <ul id="card">
          <li><strong>Name:</strong><%= pyq.title %></li>
          <li><strong>Year:</strong><%= pyq.year%></li>
          <li><strong>Sem:</strong><%= pyq.sem%></li>
          <form method="get" action="/download/<%= pyq._id %>">
            <button type="submit">Download!</button>
          </form>
        </ul>

        <% }) %>
      </div>
    </div>
  </body>
</html>
