<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Campus Solutions</title>
    <link rel="stylesheet" href="/css/Login.css" />
  </head>
  <body>
    <div class="login-container">
      <div class="login-card">
        <h2>Login</h2>
        <form action="/user/login" method="post">
          <div class="input-group">
            <label for="email">UserType:</label>
            <input
              type="Text"
              id="email"
              name="UserType"
              value="Student"
              required
              readonly
            />
          </div>

          <div class="input-group">
            <label for="email">Username</label>
            <input type="text" id="username" name="email" required />
          </div>
          <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required />
          </div>
          <button type="submit">Login</button>
        </form>
      </div>
    </div>
  </body>
</html>
